# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\govin\OneDrive - University of Maryland\UMD DOCS\Semester 3\ENPM808A\Assignments\MachineLearning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
